/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = // TODO - '@git_repo_name@'
  description = // TODO - '@ap_pipeline_description@'
  homePage = // TODO - '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = // TODO - '@git_commit@'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}


/**********
 * Params *
 **********/

params {
  help = false
  name = false

  // Analysis parameters
  genome = false
  singleEnd = false
  reads = null
  readPaths = null
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  // Skips
  skipFastq = false
  skipMultiQC = false
  skipSoftVersions = false

  // Output directories
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  oldDesign=false
  keepRTdup=false
  window=50
  
  // "/data/annotations/pipelines/tools/scRNA_LBC_bowtie2_indexes/ref_index_1"
  barcodes {
    'indexB' {
      bwt2 = "/data/users/lhadjabe/Gitlab/ChIP-seq_single-cell_LBC/Barcodes/LBC/bowtie_2_index_short/ref_index_1"
      'old'{
        start = 1
      }
      'new'{
        start = 5
      }
      size = 16
    }
    'indexC' {
      bwt2 = "/data/users/lhadjabe/Gitlab/ChIP-seq_single-cell_LBC/Barcodes/LBC/bowtie_2_index_short/ref_index_2"
      'old'{
        start = 21
      }
      'new'{
        start = 25
      }
      size = 16
    }
    'indexD' {  
      bwt2 = "/data/users/lhadjabe/Gitlab/ChIP-seq_single-cell_LBC/Barcodes/LBC/bowtie_2_index_short/ref_index_3"
      'old'{
        start = 41
      }
      'new'{
        start = 45
      }
      size = 16
    }
  }

  barcode_length = 60
  barcode_linker_length = 84
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
//includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'
