/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scChIP-inDrop'
  description = 'Nextflow pipeline for scChIPseq data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/scchip-indrop'
  author = 'P. Prompsy, L. Hadj Abed, N. Servant'
  version = '1.0.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/**********
 * Params *
 **********/

params {

  help = false
  name = false

  // Analysis parameters
  genome = false
  reads = null
  readPaths = null
  samplePlan = null
  singleEnd=false
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  // Skips
  skipMultiQC = false
  skipSoftVersions = false
  skipBigWig=false

  // Output directories
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  keepRTdup = false
  window = 50
  minCounts = 1000
  binSize = 50000
  barcode_length = 60
  barcode_linker_length = 84
  keepBlacklistRegion = false
  
  barcodes {
    'indexB' {
      bwt2 = "${params.genomeAnnotationPath}/tools/scRNA_LBC_bowtie2_indexes/ref_index_1"
      start = 5
      size = 16
    }
    'indexC' {
      bwt2 = "${params.genomeAnnotationPath}/tools/scRNA_LBC_bowtie2_indexes/ref_index_2"
      start = 25
      size = 16
    }
    'indexD' {  
      bwt2 = "${params.genomeAnnotationPath}/tools/scRNA_LBC_bowtie2_indexes/ref_index_3"
      start = 45
      size = 16
    }
  }
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'