conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:bowtie2 { conda = "${baseDir}/environment.yml" }
  withLabel:cutadapt { conda = "${baseDir}/environment.yml" }
  withLabel:samtools { conda = "${baseDir}/environment.yml" }
  withLabel:bedtools { conda = "${baseDir}/environment.yml" }
  withLabel:deeptools { conda = "${baseDir}/environment.yml" }
  withLabel:R { conda = "${baseDir}/environment.yml" }
}
