docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:R{ container = "r" }
  withLabel:bedtools{ container = "bedtools" }
  withLabel:bowtie2{ container = "bowtie2" }
  withLabel:cutadapt{ container = "cutadapt" }
  withLabel:deeptools{ container = "deeptools" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:onlyLinux{ container = "onlylinux" }
  withLabel:python{ container = "python" }
  withLabel:samtools{ container = "samtools" }
  withLabel:unix{ container = "unix" }
}
