conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:bowtie2 { conda = "${params.geniac.tools.bowtie2" }
  withLabel:cutadapt { conda = "${params.geniac.tools.cutadapt" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools" }
  withLabel:bedtools { conda = "${params.geniac.tools.bedtools" }
  withLabel:deeptools { conda = "${params.geniac.tools.deeptools" }
  withLabel:R { conda = "${params.geniac.tools.R" }
  withLabel:unix { conda = "${params.geniac.tools.unix" }
}
